[submodule "banana-party"]
	path = banana-party
	url = git@github-personal:cmlozanos/banana-party.git
[submodule "fancy-jumping-car"]
	path = fancy-jumping-car
	url = git@github-personal:cmlozanos/fancy-jumping-car.git
[submodule "jump-the-car"]
	path = jump-the-car
	url = git@github-personal:cmlozanos/jump-the-car.git
[submodule "world-of-joy"]
	path = world-of-joy
	url = git@github-personal:cmlozanos/world-of-joy.git
