[submodule "banana-party"]
	path = banana-party
	url = https://github.com/cmlozanos/banana-party.git
[submodule "fancy-jumping-car"]
	path = fancy-jumping-car
	url = https://github.com/cmlozanos/fancy-jumping-car.git
[submodule "jump-the-car"]
	path = jump-the-car
	url = https://github.com/cmlozanos/jump-the-car.git
[submodule "world-of-joy"]
	path = world-of-joy
	url = https://github.com/cmlozanos/world-of-joy.git
